* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #000;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #2b2b2b;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Necesario para posicionar el menú */
}

#menu-check {
    display: none;
}

.labelMenu {
    display: none;
    margin-right: 0.5em;
    cursor: pointer;
}

.logoJunto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    margin-left: 1em;
    line-height: 1;
}

.imagenLogo {
    width: 80px;
    padding: 0%;
    margin-right: 0.5em;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #0a0a0a;
    margin-right: 1em;
}

.menu-lista {
    display: flex;
    list-style: none;
    padding: 1em;
}

.menu-item {
    display: flex;
    margin: 0.5em;
    padding: 0.5em 0.8em;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;
}

.menu:hover {
    background-color: #3a3a3a;
    color: #f5c518;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
    background-color: #0a0a0a;
    color: #f5c518;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* SOLO PARA PANTALLAS PEQUEÑAS */
@media (max-width: 1055px) {
    .labelMenu {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%; /* Justo debajo del header */
        left: 0;
        width: 50%; /* Puedes cambiar a 50% si prefieres */
        background-color: #0a0a0a;
        border-top: 1px solid #333;
        z-index: 999;
    }

    .menu-lista {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .menu-item {
        margin: 0.12em;
        padding: 0.5em;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.2em;
    }

    /* Mostrar menú cuando se activa el checkbox */
    #menu-check:checked ~ .menu {
        display: flex;
    }
}

footer {
    background-color: #2b2b2b;
    color: #e0e0e0;
    text-align: center;
    padding: 1em;
    font-family: Arial, sans-serif;
    position: sticky;
    bottom: 0;
    z-index: 999;
}

footer a {
    color: #f5c518;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
