
.preguntas-lista{
    list-style-type: none;
    padding: 0;
    margin: 15px 15px 0px 15px;
}
.preguntas-lista li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    margin: 15px 15px 0px 15px;
    transition: box-shadow 0.3s, transform 0.2s; 
}

.preguntas-lista li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transform: translateY(-5px);
}

.labelVer{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}
.labelVer img{
    width: 20px;
    height: 20px;
    margin-left: 12px;
}
.descripcion{
    display: none;
}
 .ver-check{
    display: none;
}
.ver-check:checked + .labelVer img {
    transform: rotate(180deg);
}
.ver-check:checked + .labelVer + .descripcion{
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #dadada;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*  details {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details[open] summary::after {
  content: " ▲";
}
summary::after {
  content: " ▼";
} */

/* Títulos categorías y subcategorías */

