
.main-contacto{
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    background-color: #0c1218;
    padding: 1.5em;
}
.contactenos{
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    background-color: #f0f0f0;
    padding: 2em;
    border-radius: 10px;
}
.informacion{
    max-width: 600px;
    margin: auto;
    background-color: #d8d8d8;
    padding: 1em;
    margin-top: 0.5em;
    border-radius: 10px;
}
.formulario-contacto{
    max-width: 900px;
    min-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 2em;
    border-radius: 10px;
}
#contactoForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.labelFormulario{
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #333;
}
@media screen and (max-width: 900px) {
    .main-contacto {
        flex-direction: column;
        align-items: center;
    }
    .contactenos, .informacion, .formulario-contacto {
        width: 90%;
        margin: 1em auto;
    }
    .formulario-contacto {
        max-width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .formulario-contacto{
        max-width: 100%;
        padding: 1em;
        min-width: 0;
    }
    .main-contacto {
        flex-direction: column;
        align-items: center;
    }
    .contactenos, .informacion, .formulario-contacto {
        width: 90%;
        margin: 1em auto;
    }
    #contactoForm {
        width: 100%;
    }
    
}